<div class="register-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName"/>
            <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName"/>
            <input type="email" placeholder="Email" [(ngModel)]="email" name="email"/>
            <input type="text" placeholder="Username" [(ngModel)]="username" name="username"/>
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password"/>
            <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword"/>
            <button type="submit" (click)="register()">Register</button>
        </form>
    </div>
</div>
